{{> head}}
<section>
    multiupload
</section>
<form enctype="multipart/form-data" method="POST" action="/filemanager">
    <input type="file" multiple required name="file"><br>
    <input type="submit" value="Upload"> 
</form>